<div class='container'>
  <div class='well'>
    <h1>Add Student to Directory</h1>

<div class='well'>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= bootstrap_form_for @student do |f| %>
      <%= f.text_field :name, :hide_label => true, placeholder: 'Name', :class => "input-lg required" %>
      <%= f.text_field :email, :hide_label => true, placeholder: "Email", :class => "input-lg required" %>
      <%= f.text_area :note, :hide_label => true, placeholder: 'Notes', :class => "input-lg" %>
      <%= f.text_field :dob, :hide_label => true, placeholder: 'Birthday', :class => "input-lg" %>
      <%= f.text_field :phone_number, :hide_label => true, placeholder: "Phone Number", :class => "input-lg" %>
      <%= f.text_field :street, :hide_label => true, placeholder: "Address", :class => "input-lg" %>
      <%= f.text_field :city, :hide_label => true, placeholder: "City", :class => "input-lg" %>
      <%= f.select(:state, options_for_select(us_states, "CA"), :hide_label => true, :class => "input-lg") %>
      <%= f.text_field :zip, :hide_label => true, placeholder: "Zip", :class => "input-lg" %>
      <%= f.hidden_field :notifications, :value => true %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <% end %>
  </div>

  <div class='row'>
    <div class='col-xs-10'>
      <%= link_to "&larr; Back".html_safe, "javascript:history.go(-1)" %>

    </div>
  </div>

</div>
  </div>
</div>
