<div class='row'>
  <div class='col-xs-10 col-xs-offset-6 col-sm-6 col-sm-offset-3'>
    <h1>Add Student to Directory:</h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <%= bootstrap_form_for @student do |f| %>
      <%= f.text_field :name, placeholder: 'Name' %>
      <%= f.text_area :note, placeholder: 'Notes' %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.text_field :dob, placeholder: 'Birthday' %>
      <%= f.text_field :phone_number, placeholder: "Phone Number" %>
      <%= f.text_field :street, placeholder: "Address" %>
      <%= f.text_field :city, placeholder: "City" %>
      <%= f.text_field :state, placeholder: "State" %>
      <%= f.text_field :zip, placeholder: "Zip" %>
      <%= f.hidden_field :notifications, :value => true %>
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>