<div class='container'>
  <div class='well'>
  <h1>Edit Account Information</h1>

<br>


<div class='well'>
  <div class='col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1' id="showtext">

      <%= bootstrap_form_for @user do |f| %>

      <%= f.text_field :name, :placeholder => "User Name", :class => "form-control input-lg required"%>
      <%= f.text_field :email, :placeholder => "User Email", :class => "form-control text-area input-lg required" %>
      <%= f.text_field :phone_number, :placeholder => "User Phone Number", :class => "form-control text-area input-lg" %>
      <%= f.submit "Submit", :class => "btn btn-primary"%>

      <% end %>

    </div>


  </div>
    <div class='row'>
    <div class='col-xs-10'>

      <%= link_to "&larr; Back".html_safe, "javascript:history.go(-1)" %>

    </div>
  </div>
</div>
</div>
</div>
