<div class="container">
<div class='well'>
    <h1>Edit Event</h1>


<div class='well'>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= bootstrap_form_for @event, html: {class: "eventedit"} do |f| %>
      <input type="hidden" name="UTC" id="UTC" value="0">
      <%= f.hidden_field :note %>

      <%= f.text_field :street_address, placeholder: "Street Address", :hide_label => true, :class => "input-lg" %>

      <%= f.text_field :city, placeholder: "City", :hide_label => true, :class => "input-lg" %>

      <%= f.text_field :state, placeholder: "State", :hide_label => true, :class => "input-lg" %>

      <%= f.text_field :zip, placeholder: "Zip", :hide_label => true, :class => "input-lg" %>

      <div class="form-group">
        <div class='input-group date' id='event_start'>
          <input type='text' name="event[start]" class="form-control input-lg" placeholder="Start"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <input type="hidden" id="event_start_original" value="<%=@event.start%>">
      </div>

      <div class="form-group">
        <div class='input-group date' id='event_end'>
          <input type='text' name="event[end]" class="form-control input-lg" placeholder="End"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <input type="hidden" id="event_end_original" value="<%=@event.end%>">
      </div>

      <%= f.submit "Submit", :class => "btn btn-primary btn-lg" %>

    <% end %>
  </div>
</div>
    <div class='row'>
    <div class='col-xs-10' id="backeventshow">
      <%= link_to "&larr; Back".html_safe, "javascript:history.go(-1)" %>

    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {

    console.log("Script working!");

    // Set the UTC offset
    $('#UTC').val(moment().format("Z"))

    // Set datetimepicker and populate with times
    start_time = $('#event_start_original').val()
    start_time = moment(start_time).format('MM/DD/YYYY HH:mm A');

    end_time = $('#event_end_original').val()
    end_time = moment(end_time).format('MM/DD/YYYY HH:mm A');

    $('#event_start').datetimepicker({
      sideBySide: true,
    });
    $("#event_start").data("DateTimePicker").date(start_time);

    // Initiate datetimepicker for event end
    event_end_picker = $('#event_end').datetimepicker({
      sideBySide: true
    });
    $("#event_end").data("DateTimePicker").date(end_time);


    // If the event_start date changes; set the minimum date to that date
    // for the event end date
    $("#event_start").on("dp.change", function (e) {
      $('#event_end').data("DateTimePicker").minDate(e.date);
    });
    // $("#event_end").on("dp.change", function (e) {
    //   $('#event_start').data("DateTimePicker").maxDate(e.date);
    // });
  })
</script>
