<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <h1>New Event</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    <%= bootstrap_form_tag url: events_path, html: {class: "eventnew"} do |f| %>
      <% if @classgroups %>
        <select name="event[classgroup_id]" class="form-control">
          <% @classgroups.each do |c| %>
            <option value="<%=c.id%>"><%=c.name%></option>
          <% end %>
        </select>
      <% else %>
        <select name="event[classgroup_id]" class="form-control" disabled>
          <option value="<%=@classgroup.id%>"><%=@classgroup.name%></option>
        </select>
      <% end %>
      <input type="hidden" name="UTC" id="UTC" value="0">
      <input type="text" name="event[street]" placeholder="Street Address" class="form-control">
      <input type="text" name="event[city]" placeholder="City", class="form-control">
      <input type="text" name="event[state]" placeholder="State", class="form-control">
      <input type="text" name="event[zip]" placeholder="Zip", class="form-control">

      <div class='input-group date' id='event_start'>
        <input type='text' name="event[start]" class="form-control" placeholder="Start"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <div class='input-group date' id='event_end'>
        <input type='text' name="event[end]" class="form-control" placeholder="End"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <input type="checkbox" id="repeat" name="event[repeat][repeat]" value="true" class="to-labelauty" icon-labelauty="repeat|remove" data-labelauty="Repeat">

      <div id="repeat_info" style="display: none;">

        <select class="form-control" name="event[repeat][reoccurrence_type]">
          <option value="week">Weekly</option>
          <!-- <option value="day">Daily</option> -->
        </select>

        <select class="form-control" name="event[repeat][reoccurrence_period]">
          <% (1..30).each do |n| %>
            <option value="<%=n%>"><%=n%> weeks</option>
          <% end %>
        </select>

        <div class="row">
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][sun]" id="cb-sun" value="0" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="S">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][mon]" id="cb-mon" value="1" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="M">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][tue]" id="cb-tue" value="2" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="T">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][wed]" id="cb-wed" value="3" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="W">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][thu]" id="cb-thu" value="4" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="T">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][fri]" id="cb-fri" value="5" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="F">
          </div>
          <div class="col-sm-1">
            <input type="checkbox" name="event[repeat][days][sat]" id="cb-sat" value="6" class="to-labelauty-xs" icon-labelauty="none" data-labelauty="S">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1">
            <input type="radio" name="event[repeat][end_mode]" id="options_occurrences" value="occurrences" checked>
          </div>
          <div class="col-sm-11">
            Ends after <input type="text" name="event[repeat][occurrences]" id="occurrences"> occurances
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <input type="radio" name="event[repeat][end_mode]" id="options_end_date" value="end_date">
          </div>
          <div class="col-sm-11">
            Ends on <input type='text' name="event[repeat][end_date]" id="end_date" disabled>
          </div>
        </div>

      </div> <!-- End repeat_info -->

      <div class="text-center">
        <%= f.submit %>
      </div>

    <% end %> <!-- End form -->
  </div> <!-- End column -->
</div> <!-- End row -->

<script type="text/javascript">
    $(function () {

      // Set the UTC offset
      $('#UTC').val(moment().format("Z"))

      // Initiate datetimepicker for event start
      $('#event_start').datetimepicker({
        sideBySide: true
      });

      // Initiate datetimepicker for event end
      $('#event_end').datetimepicker({
        sideBySide: true
      });

      // Initiate datepicker for repeat end
      $('#end_date').datetimepicker({
        format: 'MM/DD/YYYY'
      });

      // If the event_start date changes; set the minimum date to that date
      // for the event end date
      $("#event_start").on("dp.change", function (e) {
        $('#event_end').data("DateTimePicker").minDate(e.date);
      });
      // $("#event_end").on("dp.change", function (e) {
      //   $('#event_start').data("DateTimePicker").maxDate(e.date);
      // });


      // Show/hide repeat event fields
      $('#repeat').click(function() {
        console.log($(this));
        console.log($(this).prop('checked'));

        if ($(this).prop('checked') === true) {
          $('#repeat_info').show();
        } else {
          $('#repeat_info').hide();
        }
      })

      // Enable disable repeat_times and repeat_end
      $('#options_occurrences').click(function() {
        $('#occurrences').prop('disabled',false)
        $('#end_date').prop('disabled',true)
      })

      $('#options_end_date').click(function() {
        $('#occurrences').prop('disabled',true)
        $('#end_date').prop('disabled',false)
      })

    });
</script>
