<div class="container">

  <div class='row'>
    <div class='col-sm-6'>
      <h1><b>Event Information for Class: </b><%= @class.name %></h1>
    </div>
    <div class='col-sm-6'>
      <%= link_to 'Calendar', '/events', :class => 'btn btn-success pull-right' %>
      <%= link_to 'Edit Event', edit_event_path(@class.id), :class => 'btn btn-primary pull-right' %>
      <%= link_to 'Remove', event_path(params[:id]), :class => 'btn btn-danger pull-right', method: :delete, data: {confirm: 'Are you sure?'}  %>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-6'>
      <ul class="list-group">
        <%# @events.each do |eventlist| %>
        <li class="list-group-item"><b>Start Time: </b><%= local_time(@event.start) %></li>
        <li class="list-group-item"><b>End Time: </b><%= local_time(@event.end) %></li>
        <li class="list-group-item"><b>Street Address: </b><% if(@event.street_address.blank?) %> None Entered <% else %> <%= @event.street_address %> <% end %></li>
        <li class="list-group-item"><b>City: </b><% if(@event.city.blank?) %> None Entered <% else %> <%= @event.city %> <% end %> &nbsp &nbsp &nbsp &nbsp <b>State: </b><% if(@event.state.blank?) %> None Entered <% else %> <%= @event.state %> <% end %> &nbsp &nbsp &nbsp &nbsp <b>Zip: </b><% if(@event.zip.blank?) %> None Entered <% else %> <%= @event.zip %> <% end %> </li>
        <%# end %>
      </ul>
    </div>
  </div>


  <div class='row'>
    <div class='col-sm-12'>
      <h2 class="text-center">Students</h2>




<div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <th>&nbsp</th>
          <th>Present</th>
          <th>Tardy</th>
          <th>Absent</th>
        </thead>

        <tbody>
        <% @students.each do |student| %>
<form class="form-group" action="/events/<%= @event.id %>/attendances" method="post">
          <tr>
          <div class="checkbox">
            <td style="white-space:normal;"><%= link_to student.name, student_path(student.id) %></td>
            <td style="white-space:normal;"><label class="radio-inline"><input type="radio" name="student[<%= student.id %>]" id="inlineRadio1" value="1"></label></td>
            <td style="white-space:normal;"><label class="radio-inline"><input type="radio" name="student[<%= student.id %>]" id="inlineRadio2" value="2"></label></td>
            <td style="white-space:normal;"><label class="radio-inline"><input type="radio" name="student[<%= student.id %>]" id="inlineRadio3" value="3"></label></td>
          </div>
        <% end %>
        </tr>

            <%= button_to 'Submit', :class => 'btn btn-primary' %>
</form>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>



