<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <h1><%= @class.name %></h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
    <%= bootstrap_form_for @class do |f| %>
      <%= f.text_field :name, :placeholder => 'Name' %>
      <%= f.text_area :description, :placeholder => 'Description' %>
      <%= f.select :active, :Active => true, :Inactive => false  %>
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>