<div class="container">
<div class='well'>

    <h1><%= @class.name %></h1>


<div class='well'>
  <div class='col-xs-10 col-xs-offset-1'>
    <%= bootstrap_form_for @class do |f| %>
      <%= f.text_field :name, :hide_label => true, :placeholder => 'Name', :class => 'input-lg required' %>
      <%= f.text_area :description, :hide_label => true, :placeholder => 'Description', :class => 'input-lg' %>
      <%= f.select :active, :Active => true, :Inactive => false %>
      <%= f.submit 'Submit', :class => 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>
  <div class='row'>
    <div class='col-xs-10' id="backeventshow">
      <%= link_to "&larr; Back".html_safe, "javascript:history.go(-1)" %>

    </div>
  </div>
</div>

</div>
