
<div class="container-fluid">
<div class="col-xs-12" id="classindex">
<div class='well'>

    <h1>Class List
      <%= link_to "", new_classgroup_path, :class => 'btn btn-success glyphicon glyphicon-plus pull-right' %>
      <br>
      <br>
    </h1>
    <select class='form-control class-state'>
      <option value='open'>Active Classes</option>
      <option value='closed'>Inactive Classes</option>
    </select>



  <div class='col-xs-12' id="tableandtext">
  <% if @classes.count < 1 %>
    <p class="text-center">Click on the green add button to create a new class!</p>
  <% else %>
  <div class='row open-classes'>
    <div class='col-md-10 col-md-offset-1'>
      <div>
        <table class="footable table mytable table table-border table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th data-hide="phone" >Description</th>
            </tr>
          </thead>
          <tbody>
            <% if @classes.where(:active => true).count < 1 %>
            <tr>
              <td>You dont have any active classes</td>
              <td> </td>
            </tr>
            <% else %>
            <% @classes.each do |group| %>
                <% if group.active %>
            <tr>
              <td><%= link_to group.name, classgroup_path(group.id) %></td>
              <td><%= group.description.first(50) %></td>
            </tr>
            <% end %>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='row closed-classes hidden'>
    <div class='col-md-10 col-md-offset-1'>
      <div>
        <table class="footable mytable table table-border table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th data-hide="phone">Description</th>
            </tr>
          </thead>
          <tbody>
            <% if @classes.where(:active => false).count < 1 %>
            <tr>
              <td>You dont have any inactive classes</td>
              <td> </td>
            </tr>
            <% else %>
            <% @classes.each do |group| %>
                <% if !group.active %>
            <tr>
              <td><%= link_to group.name, classgroup_path(group.id) %></td>
              <td><%= group.description.first(50) %></td>
            </tr>
            <% end %>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>

</div>

</div>
</div>
</div>

<script>
$('#classlink').addClass('active')
</script>



