<div class="container-fluid" id="classshowpage">

  <div class='col-sm-12' id="classshowheader">
<div class='well'>
    <h1 id="classheader"><%= @class.name %>
    <%= link_to '', classgroup_path(params[:id]), :class => 'btn btn-danger glyphicon glyphicon-trash pull-right', method: :delete, data: {confirm: 'Are you sure?'}  %>
    <%= link_to '', edit_classgroup_path(@class.id), :class => 'btn btn-primary glyphicon glyphicon-pencil pull-right' %>
    <%= link_to '', '/events', :class => 'btn btn-primary glyphicon glyphicon-calendar pull-right' %>

    </h1>
    <br>
    <br>
<div class='container pull-left' id="classshowdescription">
  <div class="col-sm-12">
    <ul class="list-group" id="listclassshow">
      <li class="list-group-item"><b>Description:</b> <%= @class.description %></li>
    </ul>
  </div>

</div>
  </div>
</div>

<div class='container' id="classshow">
<div class="row-eq-height">

      <div class='col-sm-6 col-md-6'>
    <div class='well' id="classshowwellstudents">
        <h2>Students</h2>
        <br>
        <br>
        <ul class="list-group">
          <% if @students.count < 1 %>
            <li>No students currently enrolled</li>
          <% else %>
          <% @students.each do |student| %>
            <li class="list-group-item"><%= link_to student.name, student_path(student.id) %></li>
          <% end %>
          <% end %>
        </ul>

        <%= link_to 'Add/Remove Students', "/classgroups/#{@class.id}/students", :class => 'btn btn-primary pull-right' %>

      </div>

  </div>

  <div class='col-sm-6 col-md-6'>
    <div class="well" id="classshowwellclass">
      <h2>Class Events</h2>
      <div class='col-md-6'>
        <%= link_to "",new_classgroup_event_path(params[:id]),:class => 'btn btn-success glyphicon glyphicon-plus pull-right' %>
      </div>
      <br>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Address</th>
            <th>City</th>
            <th>&nbsp</th>
          </thead>
          <tbody>
          <% if @events.count >= 1 %>
          <% @events.each do |eventlist| %>
            <td style="white-space:normal;"><time><%= local_time(eventlist.start) %></time></td>
            <td style="white-space:normal;"><%= local_time(eventlist.end) %></td>
            <td style="white-space:normal;"><% if(eventlist.street_address.blank?) %> None Entered <% else %> <%= eventlist.street_address %> <% end %></td>
            <td style="white-space:normal;"><% if(eventlist.city.blank?) %> None Entered <% else %> <%= eventlist.city %> <% end %></td>
            <td style="white-space:normal;"><%= link_to "", event_path(eventlist.id), :class => "btn btn-primary glyphicon glyphicon-eye-open" %></td>
          </tbody>
          <% end %>
          <% else %>
        </table>
          <p>Click on the add button above to create new events for this class!</p>
      </div>
          <% end %>
  </div>
</div>

</div>
</div>
